<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./static/css/main.css">
        <script defer src="./static/js/select_navbar.js" type="text/javascript"></script>
    </head>
    <body>
        <div id="container">
            <nav id="main-navbar">
                <ul>
                    <li style="padding-left: 0px;"><a id="about" class="nav-item selected" href="/balintbiro/">About</a></li>
                    <li><a id="experiences" class="nav-item" href="experiences">Experiences</a></li>
                </ul>
            </nav>
            {{ content }}
        </div>
    </body>
</html>
