<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="./static/css/main.css">
    </head>
    <body>
        <div id="container">
            {% for page in site.pages %}
                <a href={{ page.filename }}>{{ page.title }}</a>
            {% endfor %}
            <nav id="main-navbar">
                <ul>
                    <li><a id="about" class="nav-item selected" href="/">About</a></li>
                    <li><a id="experiences" class="nav-item" href="experiences">Experiences</a></li>
                </ul>
              </nav>
            {{ content }}
        </div>
    </body>
</html>
